<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<h3>AgendaItems (<%= @event.agenda_items.count %>)</h3>
<% if @event.agenda_items.any? %>
    <ul>
      <%= render @event.agenda_items %>
    </ul>
<% end %>

<%= link_to 'Add Agenda Item', new_event_agenda_item_path(@event) %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
